div.header {
    display: flex;
    justify-content: center;
}

ul.header {
    padding: 32px, 0, 35px, 0;
    list-style: none;
    width: 100%;
    height: 81px;
    background-color: #fff;
}

.header li { 
    display: inline;
}

a {
    display: inline-block;
    padding: 10px 35px;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #16A085;

}

a:hover{
    color: #26a016; ;
}

