.div_button {
    margin-top: 35px;
    display: flex;	
    justify-content: center;    
}

button {
    background-color: #16a085; 
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    cursor: pointer;
}

button:hover {
    background-color: #26a016; 
}